.userBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    align-items: center;
    .user{
        width: 300px;
        display: flex;
        margin: 10px 20px;
        padding: 0px 25px 0px 0px;
        background-color: var(--dark-900);
        border-radius: 5px;
        cursor: pointer;
        img{
            max-width: 100px;
            border-radius: 5px 10px 10px 5px;
        }
        a{
            margin: 10px auto;
            font-size: 20px;
        }
    }
    .links{
        cursor: pointer;
        font-size: 25px;
        margin: 10px 20px;
        svg{
            margin: 0px 10px;
        }
    }
}

.main{
    text-align: center;
    margin-top: 100px;
    ul{
        margin: auto;
        max-width: 800px;

        display: flex;
        flex-direction: column;

        color: white;
        a{
            font-size: 30px;
            transition: 0.5s;
            margin: 10px;
        }
        a:hover{
            color: crimson;
        }
    }
}