.box{
    display: flex;
    .deck{
        background-color: var(--dark-900);
        padding: 20px;
        width: 70%;
        button{
            margin: 10px;
        }
    }
    .allCards{
        max-width: 30%;
        padding: 20px;
        border-left: 1px solid crimson;
        .conteiner{

        }
    }
}
