.deck{
    padding: 50px;
}
.conteiner{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.capsule{
    h1{
        text-align: center;
    }
    margin: 20px;
    display: flex;
    flex-direction: column;
    h1{
        color: white;
    }
    .cards{
        flex-wrap: wrap;
        display: flex;
        padding: 20px;
        article{
            h1{
                border-bottom: 1px solid crimson;
                margin: 5px;
            }
            cursor: pointer;
            color: white;
            background-color: var(--dark-900);
            border: 1px solid white;
            border-radius: 5px;
            padding: 10px;
            margin: 15px;
            height: 300px;
            max-height: 300px;
            .status{
                display: flex;
                margin-top: 100px;
                p{
                    margin: 10px;
                }
            }
            .effect{
                margin-top: 50px;
                max-width: 200px;
                span{
                    text-align: center;
                }
            }
        }
        .select{
            background-color: crimson;
        }
    }
}